.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #fdd9d1;
}

.container {
    position: flex;
    height: 600px;
}

.texts {
  color: #ff5152;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.welcomecontainer {
    position: absolute;
    margin-top: 100px;
   margin-left: 100px;
  width: 360px;
  height: 416px;

}

.logincontainer{
  position: absolute;
  margin-top: 100px;

  margin-left: 810px;
    width: 525px;
    height: 402px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.heading {
  color: #ff5152;
  font-family: "Holtwood One SC";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.heading2 {
    padding-top: 30px;
    padding-bottom: 15px;
    color: #000;
font-family: Inter;
font-size: 22px;
font-weight: 800;
line-height: normal;
  }

.inputcontainer{
  margin-top: 11px;
    width: 402px;
height: 45px;
border-radius: 5px;
border: 2px solid rgba(255, 81, 82, 0.52);
background: rgba(255, 255, 255, 0.60);
padding-left: 20px;

}

.description {
  margin: 15px 0 25px;
  font-size: 18px;
  line-height: 1.61;
  color: #878787;
  text-align: left;
  letter-spacing: normal;
}

.figure {
  flex: 1 1;
  text-align: center;
  margin-top: 41px;
}

.figure img {
  width: 100%;
  max-width: 257px;
}

.button1 {
  display: inline-block;
  width: 402px; /* 부모 컨테이너에 맞춤 */
  height: 42px; /* 버튼 높이 설정 */
  font-size: 16px; /* 텍스트 크기 */
  font-weight: 700; /* 텍스트 굵기 */
  text-align: center; /* 텍스트 가운데 정렬 */
  border-radius: 5px; /* 버튼의 둥근 모서리 */
  cursor: pointer; /* 마우스 포인터 변경 */
  margin-top: 30px; /* 버튼 위 여백 */
}

.button2 {
  display: inline-block;
  background-color: white; /* 버튼 배경색 */
  border: 1px solid #ff5152; /* 테두리 색상과 스타일 정의 */
  width: 402px; /* 부모 컨테이너에 맞춤 */
  height: 42px; /* 버튼 높이 설정 */
  font-size: 16px; /* 텍스트 크기 */
  font-weight: 700; /* 텍스트 굵기 */
  text-align: center; /* 텍스트 가운데 정렬 */
  border-radius: 5px; /* 버튼의 둥근 모서리 */
  cursor: pointer; /* 마우스 포인터 변경 */
  margin-top: 10px; /* 버튼 위 여백 */
  margin-bottom: 30px;
}
.text2{
  color: #FF5152;
font-family: Inter;
font-size: 13px;
font-weight: 400;
line-height: normal;
display: inline;
}
.text3{
  color: #FF5152;
font-family: Inter;
font-size: 13px;
font-weight: 600;
line-height: normal;
display: inline;
cursor: pointer;

}

@media (max-width: 840px) {
  .container {
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    justify-content: center;
    height: auto; /* 높이 자동 조정 */
    margin: 20px auto;
  }

  .welcomecontainer {
    display: none; /* 화면이 작아지면 숨김 */
  }

  .logincontainer {
    margin: 10px auto;
    width: 70%; /* 화면 너비의 90%로 설정 */
    padding: 15px; /* 내부 여백 추가 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 크기 줄임 */
  }
}

