.footer {
  height: 164px;
  top: 2809px;
  padding: 11px 0px 11px 30px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border-top: 1px solid #e7e6e6;
  color: #878787;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.43px;
  text-align: left;
}

.footer p {
  font-weight: 400;
  font-size: 12.39px;
  line-height: 18.57px;
  margin-top: 10px;
  text-align: left;
  color: #222222;
}

.links {
  height: 21px;
  top: 3px;
  left: 13px;
  gap: 0px;
  opacity: 0px;
  padding: 0px 161.4px 0px 0px;
  list-style: none;
  color: #222222;
  list-style: none;
}

.links > * {
  display: inline-block;
  line-height: 1.64;
}

.links > :not(:last-child) {
  margin-right: 30px;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.sns :not(:last-child) {
  margin-right: 13px;
}
