.nav {
  position: relative;
  z-index: 1;
  padding: 15px 0;
  background-color: hsl(0, 0%, 100%);
  box-shadow: var(--box-shadow);
  border: 0px 0px 1.5px 0px;
  border-bottom: 1.5px solid #e7e6e6;
}

p.title {
  width: 206px;
  height: 41px;
  top: 9px;
  left: 23px;
  gap: 0px;
  opacity: 0px;
  font-family: Holtwood One SC;
  font-size: 25px;
  font-weight: 400;
  line-height: 40.69px;
  text-align: left;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 832px;
  height: 59px;
  left: 307px;
  color: #ff5152;
}

ul.menu a {
  color: #ff5152;
  text-decoration: none;
  position: relative;
  padding: 6px 12px;
}

ul.menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  background: #ff5152;
  transition: all 0.5s ease-out;
}

ul.menu a:hover::after {
  width: 100%;
}

ul.menu > li {
  margin-right: 30px; /* 마지막 항목을 제외한 각 항목 간격 설정 */
}

ul.menu > li:last-child {
  margin-right: 0; /* 마지막 항목의 오른쪽 여백 제거 */
}

ul.menu a:hover,
ul.menu a:active {
  text-decoration: none;
}
